
@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  src: url('../fonts/open-sans.woff2') format('woff2');
}

:root {
  --bg-colour-0: #fc76af;
  --bg-colour-1: #ffaf8c;
  --emoji-hover: #db8787;
  --emoji-click: #744646;
  --font-colour: #e10564;
  --dark-mode-font-colour: black;
  --brand-colour: #e10564;
  --divider-colour: #bfbfbf;
  --header-colour: white;
  --input-background: white;
  --input-colour: black;
  --button-colour: white;
  --graph-heatmap-to: #fc76af;
  --graph-heatmap-from: #fef1f7;
  --graph-line: #0e080a;

  font-size: 62.5%;
}

[data-theme="dark"] {
  --bg-colour-0: #121212;
  --bg-colour-1: #262626;
  --emoji-hover: #4d4d4d;
  --emoji-click: #744646;
  --font-colour: #3bf4b0;
  --dark-mode-font-colour: white;
  --brand-colour: #3bf4b0;
  --divider-colour: #333;
  --header-colour: #2b2b2b;
  --input-background: #404040;
  --input-colour: white;
  --button-colour: black;

  /* graph */
  --graph-light: #fff;
  --graph-medium: #363636;
  --graph-background: #2b2b2b;
  --graph-heatmap-to: #3bf4b0;
  --graph-line: #3bf4b0;
  --graph-heatmap-from: #ebfdf7;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(to left, var(--bg-colour-0), var(--bg-colour-1));
  font-size: 1.4rem;
  font-weight: 100;
}

#mood-input-form {
  display: grid;
}

.form-input {
  padding: 1em;
  border: 1px solid #ddd;
  background: var(--input-background);
  color: var(--input-colour);
  border-color: var(--divider-colour);
}

/* todo refactor */
#mood-signin-submit,
#mood-signup-submit {
  margin-top: 20px;
  padding: 1em;
  background: var(--brand-colour);
  color: var(--button-colour);
  border: none;
  cursor: pointer;
}

#mood-signin-submit[data-state="loading"],
#mood-signin-submit[data-state="default"],
#mood-signin-submit[data-state="error"] {
  cursor: not-allowed;
}

#mood-signin-error {
  color: var(--brand-colour);
  margin-top: 20px;
}

#mood-create-account,
#mood-login-account {
  margin-top: 20px;
  font-weight: bolder;
  color: var(--font-colour);
  cursor: pointer;
}

label {
  color: var(--input-colour);
}

label[for="mood-password"],
label[for="mood-password-repeat"] {
  margin-top: 20px;
}

/* HEADER CSS */

#nav-menu {
  color: var(--dark-mode-font-colour);
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

#nav-menu:hover {
  color: var(--emoji-hover);
}

#menu-version {
  margin-top: auto !important;
  overflow-wrap: break-word;
  color: var(--divider-colour) !important;
}

#screen-opacity {
  z-index: 1;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.nav-divider {
  border-top: 1px solid var(--divider-colour);
}

.menu-item {
  cursor: pointer;
}

.menu-item a {
  color: inherit;
}

.menu-item:hover {
  color: var(--emoji-hover);
}

#menu {
  z-index: 2;
  position: absolute;
  top: 58px;
  left: 0;
  color: var(--dark-mode-font-colour);
  width: 240px;
  height: calc(100vh - 59px);
  background: var(--header-colour);
  border-top: 1px solid var(--divider-colour);
}

#menu ul {
  margin: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 59px - 30px);
}

#menu ul li {
  color: var(--dark-mode-font-colour);
  margin-top: 2em;
}

#brand {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--brand-colour);
  grid-column-start: 2;
  grid-column-end: 3;
}

#dark-mode-toggle {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-column-start: 4;
  grid-column-end: 5;
  font-size: 1.4em;
  color: var(--dark-mode-font-colour);
  cursor: pointer;
  user-select: none;
}

header {
  background: var(--header-colour);
  grid-column: 1 / 4;
  z-index: 1;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.35);
}

#google-signin {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-column-start: 4;
  grid-column-end: 5;
}

#mood-header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
}

/* GENERIC */

a {
  text-decoration: none;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr;
}

.mood-panel {
  background: var(--header-colour);
  border-radius: 5px;
  padding: 10px 40px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.35);
  padding-bottom: 35px;
}

.mood-h2 {
  font-size: 2em;
  color: var(--font-colour);
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--divider-colour);
  margin-bottom: 25px;
}

.emoji-container {
  text-align: center;
  justify-items: center;
}

/* MOOD QUESTION PANEL */

#mood-box,
#mood-policy {
  grid-row: 1;
  user-select: none;
  grid-row-gap: 100px;
}

.mood-emotion {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  padding: 20px;
  width: 50px;
}

.mood-emotion:hover {
  background: var(--emoji-hover);
}

.mood-emotion:active {
  background: var(--emoji-click);
}

#mood-policy {
  color: var(--dark-mode-font-colour);
}

#mood-policy h3 {
  margin-top: 1.5em;
}

#mood-policy ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 2em;
}

/* MOOD GRAPH PANEL */

#mood-graph {
  overflow: scroll;
  grid-row: 2;
  grid-template-columns: 1fr 6fr 1fr;
}

#mood-list {
  text-align: center;
}

#mood-over-time {
  width: 100%;
  height: calc(width);
}

.mood-history-list {
  list-style: none;
}

.mood-edit-row {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
}

.mood-history-item {
  padding: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--divider-colour);
}

.mood-edit-time {
  margin-bottom: 0.5em;
}

.mood-edit-mood {
  grid-row: 1;
  grid-column: 2;
}

.mood-edit-select {
  grid-row: 1;
  grid-column: 1;
  min-height: 1.5em;
}

.mood-edit-bulk-select {
  margin-bottom: 1em;
}

.mood-edit-delete {
  grid-row: 1;
  grid-column: 4;
}

.mood-edit-delete-icon {
  background: rgb(220, 0, 78);
  color: #fff;
  padding: 0 10px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.mood-edit-delete-icon:hover {
  background: rgb(188, 0, 56);
}
