
@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  src: url('../fonts/open-sans.woff2') format('woff2');
}

:root {
  --bg-colour-0: #fc76af;
  --bg-colour-1: #ffaf8c;
  --emoji-hover: #db8787;
  --emoji-click: #744646;
  --font-colour: #e10564;
  --dark-mode-font-colour: black;
  --brand-colour: #e10564;
  --divider-colour: #bfbfbf;
  --header-colour: white;
  --input-background: white;
  --input-colour: black;
  --button-colour: white;

    /* graph */
  --graph-heatmap-to: #fc76af;
  --graph-heatmap-from: #fef1f7;

  font-size: 62.5%;
}

[data-theme="dark"] {
  --bg-colour-0: #121212;
  --bg-colour-1: #262626;
  --emoji-hover: #4d4d4d;
  --emoji-click: #744646;
  --font-colour: #3bf4b0;
  --dark-mode-font-colour: white;
  --brand-colour: #3bf4b0;
  --divider-colour: #333;
  --header-colour: #2b2b2b;
  --input-background: #404040;
  --input-colour: white;
  --button-colour: black;

  /* graph */
  --graph-light: #fff;
  --graph-medium: #363636;
  --graph-background: #2b2b2b;
  --graph-heatmap-to: #3bf4b0;
  --graph-heatmap-from: #ebfdf7;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(to left, var(--bg-colour-0), var(--bg-colour-1));
  font-size: 1.4rem;
  font-weight: 100;
}

#mood-input-form {
  display: grid;
}

.form-input {
  padding: 1em;
  border: 1px solid #ddd;
  background: var(--input-background);
  color: var(--input-colour);
  border-color: var(--divider-colour);
}

/* todo refactor */
#mood-signin-submit,
#mood-signup-submit {
  margin-top: 20px;
  padding: 1em;
  background: var(--brand-colour);
  color: var(--button-colour);
  border: none;
  cursor: pointer;
}

#mood-create-account {
  margin-top: 20px;
  font-weight: bolder;
  color: var(--font-colour);
  cursor: pointer;
}

label {
  color: var(--input-colour);
}

label[for="mood-password"],
label[for="mood-password-repeat"] {
  margin-top: 20px;
}

/* HEADER CSS */

#nav-menu {
  color: var(--dark-mode-font-colour);
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

#nav-menu:hover {
  color: var(--emoji-hover);
}

#screen-opacity {
  z-index: 1;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.nav-divider {
  border-top: 1px solid var(--divider-colour);
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  color: var(--emoji-hover);
}

#menu {
  z-index: 2;
  position: absolute;
  top: 58px;
  left: 0px;
  color: var(--dark-mode-font-colour);
  width: 240px;
  height: 100%;
  height: calc(100vh - 59px);
  background: var(--header-colour);
  border-top: 1px solid var(--divider-colour);
}

#menu ul {
  margin: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
}

#menu ul li {
  color: var(--dark-mode-font-colour);
  margin-top: 2em;
}

#brand {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--brand-colour);
  grid-column-start: 2;
  grid-column-end: 3;
}

#dark-mode-toggle {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-column-start:4;
  grid-column-end: 5;
  font-size: 1.4em;
  color: var(--dark-mode-font-colour);
  cursor: pointer;
  user-select: none;
}

header {
  background: var(--header-colour);
  grid-column: 1 / 4;
  z-index: 1;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.35);
}

#google-signin {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-column-start: 4;
  grid-column-end: 5;
}

#mood-header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
}

/* GENERIC */

a {
  text-decoration: none;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr;
}

.mood-panel {
  background: var(--header-colour);
  border-radius: 5px;
  padding: 10px 40px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.35);
  padding-bottom: 35px;
}

.mood-h2 {
  font-size: 2em;
  color: var(--font-colour);
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--divider-colour);
  margin-bottom: 25px;
}

.emoji-container {
  text-align: center;
  justify-items: center;
}

/* MOOD QUESTION PANEL */

#mood-box, #mood-policy {
  grid-row: 1;
  user-select: none;
  grid-row-gap: 100px;
}

.mood-emotion {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  padding: 20px;
  width: 50px;
}

.mood-emotion:hover {
  background: var(--emoji-hover);
}

.mood-emotion:active {
  background: var(--emoji-click);
}

#mood-policy {
  color: var(--dark-mode-font-colour);
}

#mood-policy h3 {
  margin-top: 1.5em;
}

#mood-policy ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 2em;
}

/* MOOD GRAPH PANEL */

#mood-graph {
  grid-row: 2;
}

#mood-list {
  text-align: center;
}

#mood-over-time {
  width: 100%;
  height: calc(width);
}

/* RESPONSIVE PANELS */

/* Tablet Styles */
@media only screen and (min-width: 416px) and (max-width: 960px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 60px;
  }

  main {
    grid-row-gap: 4em;
  }

  body {
    font-size: 1.4rem;
  }

  .emoji-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 60px;
  }

  main {
    grid-row-gap: 4em;
  }

  body {
    font-size: 1.4rem;
  }

  .emoji-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Mobile Styles */
@media only screen and (max-width: 415px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 60px;
  }

  main {
    grid-row-gap: 2em;
  }

  body {
    font-size: 1.4rem;
  }

  .emoji-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
