
@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: url('../fonts/open-sans.woff2') format('woff2');
}

:root {
  --bg-colour-0: #fc76af;
  --bg-colour-1: #ffaf8c;
  --emoji-hover: #db8787;
  --emoji-click: #744646;
  --font-colour: #E10564;
  --brand-colour: #E10564;
  --divider-colour: #bfbfbf;

  font-size: 62.5%;
}

* {
	padding: 0;
	margin: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

#brand {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--brand-colour)
}

body {
  background: linear-gradient(to left, var(--bg-colour-0), var(--bg-colour-1));
  font-size: 1.4rem;
  font-weight: 100
}

header {
  background: white;
  grid-column: 1 / 4;
  z-index: 1;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.35);

}

#mood-box {
  background: white;
  border-radius: 5px;
  padding: 10px 40px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.35);
  grid-column-start: 2;
  grid-column-end: 3;
  user-select: none;
  padding: 25px;
  padding-bottom: 35px;
}

#mood-question {
  font-size: 2em;
  color: var(--font-colour);
  border-bottom: 1px solid var(--divider-colour);
  margin-bottom: 35px;
}

#mood-list {
  text-align: center;
}

.mood {
  font-size: 2.8em;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.mood:hover {
  background: var(--emoji-hover);
}

.mood:active {
  background: var(--emoji-click);
}

/* Tablet Styles */
@media only screen and (min-width: 416px) and (max-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 60px;
  }

  body {
    font-size: 1.4rem
  }

  .emoji-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.emoji-container {
  text-align: center;
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 60px;
  }

  body {
    font-size: 1.4rem;
  }

  .emoji-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Mobile Styles */
@media only screen and (max-width: 415px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 60px;
  }

  body {
    font-size: 1.4rem;
  }

  .emoji-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
